
body
  background: #8e8db3;
  box-sizing: border-box;

.logo
  font-size: 48px;
  text-align: center;

.start-button-container
  width: 100%;
  a
    color: black;
    text-decoration: none;

.start-button
  $item = 96px;
  display: inline-block;
  vertical-align: middle
  text-align: center;
  line-height: 1.8em;
  font-size: $item ;
  font-weight: bold;
  width: $item * 2;
  height: $item * 2;
  border-radius: $item;
  background: #9e8467;
  position: absolute;
  margin: 0 auto;

.osumes
  font-size: 96px;

.skip
  position: fixed
  bottom: 0
