
body
  background: #f4f4f1;
  box-sizing: border-box;
  color: #333;

a
  color: #000;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
.page
  padding: 1em;
.page-start
  .logo
    font-size: 48px;
    color: #f4f4f1;
    text-align: center;

  .start-button-container
    width: 100%;
    a
      text-decoration: none;

  .start-button
    $item = 96px;
    vertical-align: middle
    text-align: center;
    line-height: 1.8em;
    font-size: $item ;
    font-weight: bold;
    width: $item * 2;
    height: $item * 2;
    border-radius: $item;
    background: #e1d16a;
    margin: 0 auto;
    margin-top: 100px;
    a
      color: #333;

  .skip
    display: block;
    position: fixed;
    bottom: 1em;
    margin: 0 auto;
    text-align: center;
    padding-top: 300px;
    width: 100%;
    height: 20px;
    z-index: -1;

.page-question
  .osumes
    font-size: 96px - 20px;
    text-align: center;
    .osu, .mesu
      margin: 10px;
      padding: 10px;
      border-radius: 96px;
    .osu
      background: #6e60d8;
    .mesu
      background: #d88ccf;

.page-doja
  .user-hat
    font-size: 12px;
  .user-header
    $shadow= 2px
    $mshadow= -2px
    padding: 1em;
    background: #ffc600;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 3px solid black;
    text-shadow: $shadow 0 #fff,
      $mshadow 0 #fff,
      0 $mshadow #fff,
      0 $shadow #fff,
      $shadow $shadow #fff,
      $mshadow $shadow #fff,
      $shadow $mshadow #fff,
      $mshadow $mshadow #fff
  .qa-card
    padding: 20px 10px
  .qa-question
    .avater
      vertical-align:middle

  .qa-item
    display: inline-block
    padding-left: 10px
    vertical-align:middle
    width: 200px
  .querist-hat
    font-size: 10px

  .qa-answer
    font-size:30px;
    font-weight:bold
  .avater
    border: 3px solid black;
    $size= 80px
    width: $size;
    height: $size;
    border-radius: ($size)

  .answer-form
    margin-top: 20px
    $size = 80px
    .answer-text
      text-align: center;
      font-size: 12px;
    .textarea-demi
      border: 3px solid black;
      width: 100%;
      padding-bottom: ($size/2)+10
      background: white
      textarea
        resize: none;
        width: 100%;
        font-size: 32px;
        border: none;
        height: 1.5em;

    .doyakun
      text-align: center;
      background: #ffc600;
      width: $size;
      height: $size;
      border-radius: $size;
      z-index: 10
      margin: -($size/2) auto 0
      vertical-align:middle
      box-shadow: 0px 8px #000
      &:active
        opacity: 0.8
      img
        padding-top: 10px;
        padding-bottom: 10px;
        width:60%;
  .answer-skip
    text-align:right
    a
      color: #666

.fade-enter
  opacity: 0;
  transform:   translate(-250px,0);
  transform: translate3d(-250px,0,0);
  &.fade-enter-active
    opacity: 1;
    transform: translate(0,0);
    transform: translate3d(0,0,0);
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;

.question-enter
  opacity: 0;
  transform:   translate(0,0,0);
  transform: translate3d(0,0,1.5);
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
  &.question-enter-active
    opacity: 1;
    transform:   translate(0,100px);
    transform: translate3d(0,100px,0);

// .sample-enter {
//      -webkit-transition: 1s ease-in;
// }
// .sample-enter.sample-enter-active {
//     font-size: 80px;
// }
// .sample-leave {
//     -webkit-transition: .5s ease-out;
// }
// .sample-leave.sample-leave-active {
//     font-size: 10px;
// }
