
body
  background: #ccc;
  box-sizing: border-box;
  color: #333;

a
  color: #ccc;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
.page
  padding: 1em;
.page-start
  .logo
    font-size: 48px;
    color: #ccc;
    text-align: center;

  .start-button-container
    width: 100%;
    a
      text-decoration: none;

  .start-button
    $item = 96px;
    vertical-align: middle
    text-align: center;
    line-height: 1.8em;
    font-size: $item ;
    font-weight: bold;
    width: $item * 2;
    height: $item * 2;
    border-radius: $item;
    background: #e1d16a;
    margin: 0 auto;
    margin-top: 100px;
    a
      color: #333;

  .skip
    display: block;
    position: fixed;
    bottom: 1em;
    margin: 0 auto;
    text-align: center;
    padding-top: 300px;
    width: 100%;
    height: 20px;
    z-index: -1;

.page-question
  .osumes
    font-size: 96px - 20px;
    text-align: center;
    .osu, .mesu
      margin: 10px;
      padding: 10px;
      border-radius: 96px;
    .osu
      background: #6e60d8;
    .mesu
      background: #d88ccf;

.page-doja
  .user-hat
    font-size: 12px;
  .user-header
    $shadow= 2px
    $mshadow= -2px
    padding: 1em;
    background: #ffc600;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 3px solid black;
    text-shadow: $shadow 0 #fff,
      $mshadow 0 #fff,
      0 $mshadow #fff,
      0 $shadow #fff,
      $shadow $shadow #fff,
      $mshadow $shadow #fff,
      $shadow $mshadow #fff,
      $mshadow $mshadow #fff
.qa-card
  padding: 10px
.qa-question
  .avater
    vertical-align:middle

.qa-item
  display: inline-block
  padding-left: 10px
  vertical-align:middle
  width: 200px
.querist-hat
  font-size: 10px

.qa-answer
  font-size:30px;
  font-weight:bold
.avater
  border: 3px solid black;
  $size= 80px
  max-width: $size;
  max-height: $size;
  border-radius: ($size)
